<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="navbar-brand"> Treebook </a>
				<ul class="nav navbar-nav">
				<li class="active"><%= link_to "All Statuses", statuses_path  %></li> </ul>
				<% if user_signed_in? %>

					<ul class="nav navbar-nav pull-right">
					<li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li> </ul>
					<ul class="nav navbar-nav pull-right">
					<li><%= link_to current_user.full_name, edit_user_registration_path  %></li> </ul>
				<% else %>
					<ul class="nav navbar-nav pull-right">
						<li><%= link_to("Register", register_path) %></li> </ul>
						<ul class="nav navbar-nav pull-right">
						<li><%= link_to("Log In", login_path) %></li>
					</ul>
				<% end %>
			</div>
		</div>
	</div>

	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<%= message %>
			</div>
		<% end %>


		<%= yield %>
	</div>
</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted navbar-brand"> Treebook application by: <em> Mauricio Serna Flórez </em></p>
		</div>
	</footer>
</body>
</html>
